<h1 class="page-header">Usuários</h1>

<% if @user.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>

    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    Editando Usuário
  </div>
  
  <div class="panel-body">
    <div class="col-lg-6">
      <div class="table-responsive">
        <%= form_for([:backoffice, @user]) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control', placeholder: 'E-mail...' %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control', placeholder: 'Senha...' %>
          </div>
          
          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirmação de senha...' %>
          </div>
          
          <%= f.submit 'Salvar', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
  
</div>