<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'site', media: 'all', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>
  
    <title>JPCompany</title>
  </head>
  
  <body>
    <%= yield %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'site', 'data-turbolinks-track' => true %>
  </body>
</html>
